<div class="container-index">


  <!----- H1 display --------->
  <div class="h1-index">
    <% unless @rooms.count.zero? %>
    <h2>We found <%= pluralize(@rooms.count, 'place', 'places') %> in the area</h2>
    <% else %>
    <h2>Sorry, there are no available rooms in the area.</h2>
    <% end %>
  </div>

  <!----- END H1 display --------->


  <!----- SEARCH BAR display --------->

<div class="content">
  <div class="bouton-first">
    <div class="btn-rond">
      <%= link_to root_path, class: "btn-rond-back" do %>
        <i class="fa-sharp fa-solid fa-circle-left"></i>
      <% end %>
    </div>
    <div class="btn-rond">
      <%= link_to new_room_path, class: "btn-rond-new" do %>
        <i class="fa-solid fa-plus"></i>
      <% end %>
    </div>
  </div>
  <div class="form-index">
      <%= form_with url: rooms_path, method: :get, class: "d-flex" do %>
        <%= text_field_tag :query,
          params[:query],
          class: "form-control",
          placeholder: "Find a place"
        %>
        <%= submit_tag "Search", class: "btn btn-primary" %>
      <% end %>
  </div>
</div>

    <!----- END SEARCH BAR display --------->



  <!----- CARDS display --------->

  <div class="grid-index">
    <% @rooms.each do |room| %>
      <div class="d-flex justify-content-center">
        <%= link_to room_path(room), class: "deco-none" do%>
        <div class="card-room">
            <img src=<%= current_user.photo %>, class="card-room-user avatar-bordered" />
          <div class="card-room-infos">
            <div>
              <h2><%= room.name%></h2>
              <p><%= room.address %></p>
            </div>
            <img src= <%= current_user.photo %>, class="card-room-user avatar-bordered" />
            <div class="card-room-princing">
              <h2><%= room.price %>€</h2>
            </div>
          </div>
        </div>
      <% end %>
      </div>
    <% end %>
  </div>

  <!----- END CARDS display --------->
