<h1>show</h1>


<%= @room.description %>
<%= @room.price %>
<!--<%= image_tag @room.photo %>-->

<% if @room.user != current_user %>
      <div class="form-show">
        <div class="bg-white rounded p-3 shadow">
          <h3>New reservation</h3>
          <%= simple_form_for [@room, @booking], data: { controller: 'flatpickr' } do |f| %>
            <%= f.input :start_date, as: :string, input_html: { data: { flatpickr_target: "startDate" } } %>
            <%= f.input :end_date, as: :string, input_html: { data: { flatpickr_target: "endDate" } } %>
            <%= f.submit "Book it", class: "btn btn-success"%>
          <% end %>
        </div>
      </div>
<% end %>



<%= link_to "go to index", rooms_path, class:"btn btn-secondary" %>
<%= link_to "Edit", edit_room_path if policy(@room).update? %>
<%= link_to "Delete", room_path(@room), data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' }, class: "btn btn-danger" if policy(@room).destroy? %>
